@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css?family=Hind+Madurai:400,500&display=swap");

:root {
  --heading: "Lexend Deca", sans-serif;
  --font: "Hind Madurai", sans-serif;

  --white: #ffffff;
  --black: #000000;

  --bg: #e2e7ec;
  --themedarkgrayicon: #a2a2a2;
  --themelightgrayicon: #bdbdbd;

  --themegraytext: #1a1a1a;
  --themebodytext: #b3b3b3;

  --themeborder: #dcdcdc;
  --themebuttonbg: #fcfbfc;

  --themebluebg: #eff4fe;
  --themegreenbg: #e8f2ed;
  --themeredbg: #fedfec;
  --themeyellowbg: #fff4e2;

  --themeblue: #044289;
  --themeblued: #032f62;
  --themegreen: #028e69;
  --themered: #ff2d84;
  --themeyellow: #ff9811;
  --themeorange: #ff6f2c;
}

@viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #d4d4d4;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  font-family: sans-serif;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: var(--font);
  background: var(--bg);
  font-size: 14px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  text-decoration: none;
  outline: 0;
}
a:active,
a:hover,
a:focus {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img,
svg {
  border: 0;
  outline: none;
}
img:active,
img:hover,
img:focus,
svg:active,
svg:hover,
svg:focus {
  outline: none;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  font-family: var(--font);
}
button,
input,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  font-size: 14px;
  font-family: var(--font);
  background-color: transparent;
}
button:focus,
input:focus,
optgroup:focus,
select:focus,
textarea:focus {
  outline: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
  font-size: 14px;
  font-family: var(--font);
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

.app-left {
  float: left;
}
.app-right {
  float: right;
}
.app-fwidth {
  float: left;
  width: 100%;
}
.app-box {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@keyframes roundloading {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.app-largecontainer,
.app-container,
.app-frmContainer {
  margin: 0 auto;
  padding: 0px 16px;
}
.app-largecontainer {
  max-width: 1180px;
}
.app-container {
  max-width: 1024px;
}
.app-frmContainer {
  max-width: 768px;
}
.app-body {
  padding-top: 30px;
  position: relative;
  height: calc(100vh - 92px);
}
.app-header {
  background: var(--themeblued);
  padding: 16px 0px;
}
.app-logo {
  position: relative;
  left: 50%;
  width: auto;
  height: 30px;
  line-height: 30px;
  transform: translateX(-50%);
}
.app-logo span {
  font-size: 24px;
  font-family: var(--heading);
  font-weight: 400;
  color: var(--white);
}
.app-navigation a {
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  color: var(--white);
  font-weight: 500;
  margin-left: 30px;
  text-transform: uppercase;
}
.app-loading-div{
  float: left;
  width: 100%;
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--heading);
}
.app-loading-div > svg{
  float: left;
  width: 20px;
  height: 20px;
  animation: roundloading 1.2s linear infinite;
}
.app-itemList, .app-items{
  float: left;
  width: 100%;
}
.app-itemList{
  border-radius: 2px;
}
.app-add-new-contact{
  position: absolute;
  left: 50%;
  bottom: 100px;
  height: 32px;
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 50px;
  transform: translateX(-50%);
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  font-family: var(--heading);
}
.app-add-new-contact svg{
  float: left;
  width: 18px;
  height: 18px;
}
.app-add-new-contact svg circle,
.app-add-new-contact svg line{
  stroke: var(--themegreen);
}
.app-add-screen{
  float: left;
  width: auto;
  margin-top: 180px;
  position: relative;
  left: 50%;
  font-size: 13px;
  font-weight: 400;
  font-family: var(--heading);
  transform: translateX(-50%);
  clear: both;
}
.app-empty-icon{
  float: left;
  width: 100px;
  position: relative;
  left: 50%;
  margin-bottom: 30px;
  transform: translateX(-50%);
}
.app-empty-icon > svg{
  float: left;
  width: 100%;
  opacity: 0.2;
}
.app-add-screen span{
  display: flex;
  background-color: var(--white);
  padding: 6px 8px;
  border-radius: 4px;
  cursor: pointer;
  clear: both;
  font-size: 13px;
  line-height: 18px;
  color: var(--themeblue);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.10);
}
.app-add-screen span > svg{
  float: left;
  width: 18px;
  height: 18px;
}
.app-items{
  background-color: var(--white);
  border-bottom: 1px solid #efefef;
}
.app-items:last-child{
  border-bottom: 0px solid transparent;
}
.app-items:hover{
  transition: 0.5s;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.10);
}
.app-item-postdate, 
.app-item-updatedate, 
.app-item-name, 
.app-item-phone,
.app-item-email{
  float: left;
  font-size: 13px;
  font-family: var(--heading);
  font-weight: 400;
  padding: 10px 14px;
  box-sizing: border-box;
}
.app-item-postdate{
  width: 13%;
}
.app-item-updatedate{
  width: 21%;
}
.app-item-name{
  width: 20%;
}
.app-item-email{
  width: 24%;
}
.app-item-phone{
  width: 14%;
}
.app-item-edit,
.app-item-delete{
  float: left;
  width: 4%;
  padding: 10px 10px;
  box-sizing: border-box;
}
.app-item-edit svg,
.app-item-delete svg{
  float: left;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.app-item-edit svg path{
  fill: var(--themeblue);
}
.app-item-delete svg path{
  fill: var(--themered);
}
.headingTable{
  background-color: #f0f8ff;
}
.headingTable > div{
  color: var(--themeblue);
}
.app-listContent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 30px;
}
.app-itemsWrapper {
  width: 32%;
  margin-right: 2%;
  background: var(--white);
  padding: 20px 30px;
  margin-bottom: 26px;
  box-sizing: border-box;
  border-radius: 4px;
}
.app-itemsWrapper:nth-child(3n + 3) {
  margin-right: 0px;
}
.app-heading,
.app-Detailheading {
  font-size: 17px;
  color: #0264d0;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 10px;
  line-height: 30px;
}
.app-Detailheading {
  font-size: 34px;
  height: auto;
  line-height: 46px;
  margin-bottom: 26px;
}
.app-splInfo {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

.app-detailsId,
.app-detailsPost,
.app-detailsUpdate {
  float: left;
  width: auto;
  margin-right: 20px;
  padding: 6px 20px 6px 30px;
  position: relative;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 500;
}
.app-detailsId:after,
.app-detailsPost:after,
.app-detailsUpdate:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.app-detailsId {
  background: var(--themeyellowbg);
  color: var(--themeorange);
}
.app-detailsId:after {
  background: var(--themeorange);
}
.app-detailsPost {
  background: var(--themegreenbg);
  color: var(--themegreen);
}
.app-detailsPost:after {
  background: var(--themegreen);
}
.app-detailsUpdate {
  background: var(--themeredbg);
  color: var(--themered);
}
.app-detailsUpdate:after {
  background: var(--themered);
}

.app-authorinfo {
  margin-bottom: 26px;
  margin-top: 18px;
}
.app-authorinfo span {
  float: left;
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--themebodytext);
  margin-bottom: 2px;
}
.app-authorinfo h6,
.app-authorinfo p {
  float: left;
  width: 100%;
  font-size: 14px;
  color: var(--themegraytext);
  font-weight: 500;
  margin: 0px;
}

.app-authorinfo h6 b,
.app-authorinfo p b {
  font-weight: 500;
  float: left;
  width: 70px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--themebodytext);
}

.app-itemWrapInfo {
  width: 100%;
  padding: 10px 16px;
  border: 1px solid var(--themeborder);
  background: var(--themebuttonbg);
  border-radius: 5px;
  box-sizing: border-box;
}
.app-wpinfo {
  width: calc(32% - 1px);
  padding-left: 4px;
  margin-right: 2%;
  border-right: 1px solid var(--themeborder);
  box-sizing: border-box;
}
.app-wpinfo:first-child {
  padding-left: 0px;
}
.app-wpinfo:last-child {
  margin-right: 0px;
  border-right: 0px solid transparent;
}
.app-wpinfo span {
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--themebodytext);
}
.app-wpinfo p {
  float: left;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 2px;
  font-size: 14px;
  color: var(--themegraytext);
  font-weight: 500;
}
.app-wpinfo:first-child p {
  text-transform: uppercase;
}
.app-shortDesc h6 {
  font-size: 12px;
  margin-top: 18px;
  margin-bottom: 2px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--themebodytext);
}
.app-descpt {
  margin-bottom: 0px;
  margin-top: 2px;
  font-size: 14px;
  line-height: 18px;
  color: var(--themegraytext);
  font-weight: 500;
}
.add-btnDetails {
  float: left;
  padding: 5px 26px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  background: var(--themebuttonbg);
  cursor: pointer;
  border-radius: 40px;
  color: var(--themegraytext);
  border: 1px solid var(--themeborder);
  margin-right: 10px;
  transition: 0.5s;
}
.add-btnDetails:hover {
  transition: 0.5s;
  color: var(--white);
  border: 1px solid var(--themebluebg);
  background: var(--themeblue);
}
.desc {
  margin-bottom: 20px;
}
.desc h6 {
  margin-top: 10px;
}

.app-DetailsList {
  background: var(--white);
  padding: 52px 56px;
  margin-bottom: 26px;
  box-sizing: border-box;
  border-radius: 4px;
}

.app-frms {
  background: var(--white);
  padding: 10px 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  float: left;
  width: 100%;
}
.app-frms h3 {
  float: left;
  width: 100%;
  font-size: 19px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--themebodytext);
}
.app-fileds {
  float: left;
  width: 100%;
  margin-bottom: 18px;
  position: relative;
}
.app-fileds span {
  float: left;
  width: 100%;
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: 400;
  color: var(--themebodytext);
  font-family: var(--heading);
}
.app-fileds input[type="text"],
.app-fileds input[type="email"] {
  float: left;
  width: 100%;
  height: 40px;
  padding: 0px 16px;
  line-height: 40px;
  border: 1px solid var(--themeborder);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.err input[type="text"],
.err input[type="email"] {
  border: 1px solid var(--themered);
  background-color: var(--themeredbg);
}
.app-fileds textarea {
  float: left;
  width: 100%;
  height: 300px;
  padding: 16px;
  border: 1px solid var(--themeborder);
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  resize: none;
}
.add-btnDetails {
  float: left;
  padding: 8px 26px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  background: var(--themebuttonbg);
  cursor: pointer;
  border-radius: 40px;
  color: var(--themegraytext);
  border: 1px solid var(--themeborder);
  margin-right: 10px;
  transition: 0.5s;
}
.add-btnDetails:hover {
  transition: 0.5s;
  color: var(--white);
  border: 1px solid var(--themebluebg);
  background: var(--themeblue);
}
.app-action{
  float: left;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.app-footer{
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.app-ft-center{
  text-align: center;
}
.app-footer p {
  margin: 0px;
  padding: 0px 0px 20px;
  font-size: 12px;
  color: #5d5d5d;
  font-weight: 400;
  line-height: 20px;
  font-family: var(--heading);
}
.app-footer p b {
  margin: 0px;
  font-weight: 400;
}
@keyframes fadeIn{
  0%{ opacity: 0; }
  to{ opacity: 1; }
}
@keyframes animatePopupOverlay{
  0%{ opacity: 0; left: -25px; }
  to{ opacity: 1; left: 0; }
}
.popup{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  animation: animatePopupOverlay .2s 0s 1 none;
}
.popup-inner{
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}
.popup-heading-add{
  float: left;
  width: 100%;
  padding: 14px 36px;
  box-sizing: border-box;
  border-bottom: 1px solid #efefef;
}
.popup-heading-add h5{
  float: left;
  margin: 0px;
  font-size: 13px;
  color: #5d5d5d;
  font-weight: 400;
  font-family: var(--heading);
}
.popup-heading-add span{
  float: right;
  width: 16px;
  cursor: pointer;
}
.popup-heading-add span svg{
  float: left;
  width: 16px;
  height: 16px;
}
.popup-details{
  float: left;
  width: 100%;
  padding: 10px 16px;
  box-sizing: border-box;
}
.app-error-lst{
  float: left;
  width: calc(100% - 40px);
  margin: 10px 20px 6px;
  background-color: var(--themeredbg);
  color: var(--themered);
  font-size: 13px;
  font-weight: 400;
  border-radius: 4px;
  font-family: var(--heading);
  padding: 10px 16px;
  box-sizing: border-box;
}
.app-error-line{
  position: absolute;
  left: 0px;
  top: 100%;
  font-family: var(--heading);
  color: var(--themered);
  font-size: 12px;
  margin: 2px 0px 0px;
}
.del-props{
  max-width: 360px;
}
.del-props .app-popup-inside{
  float: left;
  width: 100%;
  padding: 0px 20px 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.app-delete-details p{
  float: left;
  width: 100%;
  font-family: var(--heading);
  font-size: 13px;
  color: #888888;
}
.app-delete-details p.app-del-item{
  float: left;
  width: 100%;
  margin: 0px 0px 6px 0px;
  color: var(--themegraytext);
}
.app-del-item span{
  float: left;
  width: 55px;
}